body {
    background-color: cadetblue;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(17, 30, 211);
}

.container {
    /* background-color: darkcyan; */
    height: 95vw;
    width: 95vh;
    margin: 0 auto;
}

.grid-container {
    /* margin: 0 auto; */
    height: 650px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.grid-square-128 {
    height: 60px;
    width: 60px;
    color: white;
    border: 1px black solid;
}

.grid-square-256 {
    height: 40px;
    width: 40px;
    color: white;
    border: 1px black solid;
}

.grid-square-512 {
    height: 20px;
    width: 20px;
    color: white;
    border: 1px black solid;
}

.btn-radio {
    
    border-radius: 10px;
    font-size: 1.1rem;
    margin-left: 45vw;
    margin-bottom: 30px;
}

button {
    background-color: rgb(88, 125, 168);
    height: 50px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

}
